<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Camera</key>
	<dict>
		<key>type</key>
		<string>PerspectiveCamera</string>
		<key>center</key>
		<string>0 0 10</string>
		<key>direction</key>
		<string>0 0 -1</string>
		<key>up</key>
		<string>0 1 0</string>
		<key>angle</key>
		<string>20</string>
	</dict>
	<key>Lights</key>
	<array>
		<dict>
			<key>type</key>
			<string>DirectionalLight</string>
			<key>direction</key>
			<string>-0.2 -0.2 -1</string>
			<key>color</key>
			<string>1 1 1</string>
		</dict>
	</array>
	<key>Background</key>
	<dict>
		<key>color</key>
		<string>0.2 0 0.6</string>
		<key>ambientLight</key>
		<string>0 0 0</string>
	</dict>
	<key>Materials</key>
	<array>
		<dict>
			<key>diffuseColor</key>
			<string>1 1 1</string>
		</dict>
	</array>
	<key>Group</key>
	<array>
		<dict>
			<key>type</key>
			<string>Transform</string>
			<key>materialIndex</key>
			<string>0</string>
			<key>transforms</key>
			<array>
				<string>zRotate 45</string>
				<string>scale 1 0.2 1</string>
			</array>
			<key>transformed</key>
			<dict>
				<key>type</key>
				<string>Sphere</string>
				<key>center</key>
				<string>0 0 0</string>
				<key>radius</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
